.form-field {
  display: inline-flex;
  align-items: center;

  margin: 0;
}

.form-field__label {
  display: block;
  margin-bottom: 10px;

  color: $primary-light-color;
  fill: $primary-dark-color;

  transition: $main-transition-duration $main-transition-timing-function;
  transition-property: color, fill;
}

.form-field__input-wrap {
  position: relative;
  margin-top: 5px;
  margin-bottom: 0;

  height: 40px;
}

.form-field__input {
  width: 100%;
  height: 100%;

  padding-left: 42px;

  line-height: 1.167;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: $main-transition-duration $main-transition-timing-function;
  transition-property: color, border-color;

  &:hover,
  &:focus {
    border-color: $accent-light-color;
  }
}

.textarea {
  display: block;
  margin-top: 5px;
  padding: 12px 16px;

  resize: none;
}

.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input:hover+.form-field__icon,
.form-field__input:focus+.form-field__icon,
.form-field__input:not(:placeholder-shown) .form-field__icon {
  fill: $accent-light-color;
}


.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  transition: $main-transition-duration $main-transition-timing-function;
  transition-property: fill;
}

.form-field__checkbox {
  color: $primary-light-color;

  line-height: 1.714;
  letter-spacing: 0.03em;

  transition: border-color $main-transition-duration $main-transition-timing-function;


  &:hover,
  &:focus {
    border-color: $accent-light-color;
  }
}

.form-field__icon-checkbox {
  display: block;
  content: '';
  margin: 0;
  margin-right: 5px;

  width: 16px;
  height: 15px;

  border: 2px solid #000000;
  border-radius: 2px;
}

.form-field__checkbox-link {
  margin-left: 5px;
  text-decoration: underline;

  color: $accent-light-color;
}

.form-field__checkbox:hover+.form-field__icon-checkbox,
.form-field__checkbox:focus+.form-field__icon-checkbox {
  border-color: $accent-light-color;
}

.form-field__checkbox:checked+.form-field__icon-checkbox {
  display: block;

  background-color: $accent-light-color;
  border-color: $accent-light-color;
  /* background-image: url(../images/check-on.svg); */
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3e%3ctitle%3echeck-on%3c/title%3e%3cpath fill='%23fff' d='M8.623 16.454l-0.124-0.119-0.124 0.117-1.735 1.645 0.137 0.131 6.417 6.12 0.124-0.119 13.644-13.016-0.137-0.13-1.712-1.633-0.124 0.119-11.795 11.243-4.57-4.36z'%3e%3c/path%3e%3c/svg%3e");
  background-size: contain;
  background-origin: border-box;
}

.form-service_order__button-submit{
  @extend %button;

  padding: 10px 55px;

  width: 200px;
  height: 50px;

  text-align: center;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  fill: $main-light-color;

  transition: background-color $main-transition-duration $main-transition-timing-function;

  &:hover,
  &:focus {
    background-color: #188CE8;
  }
}

.form-service_order__position-center {
  text-align: center;
  margin-top: 20px;
}

.form-service_order__concord {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}